<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if number > 18 %}
        <h1> your eligibile </h1>

        {% elif number < 18 %}
        <h1> your not eligibile </h1>
        {% endif %}
        
        <script src="" async defer></script>
    </body>
</html>